---
import LayoutSection from "../../layouts/LayoutSection.astro";
---
<LayoutSection
        titleSection="About Us"
        imagePath="/img/bannerdev.png"
>
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about__pic">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="about__pic__item about__pic__item--large set-bg"
                                     data-setbg="/img/imagedev2.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>About Us</span>
                            <h2>Who Am I</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <i class="bi bi-diagram-3"></i>
                                    </div>
                                    <h4>Code Distribution</h4>
                                    <p>We optimize code deployment, ensuring smooth transitions between environments.</p>
                                </div>
                            </div>
                            <!-- Cloud Solutions Section -->
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="services__item">
                                    <div class="services__item__icon">
                                        <i class="bi bi-cloud"></i>
                                    </div>
                                    <h4>Cloud Solutions</h4>
                                    <p>Scalable cloud infrastructures for efficient hosting and seamless experiences.</p>
                                </div>
                            </div>
                        </div>
                        <div class="about__text__desc">
                            <p>I am Brayan Almengor, a passionate Panamanian software developer and student at the Technological University of Panama. I specialize in creating personal projects to enhance my skills in frameworks like Spring Boot, Laravel, React, and Angular, and I am currently building my professional web portfolio.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</LayoutSection>
