
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;  
    font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  
    
}  
html{
    scroll-behavior:smooth;
}
body{
    max-width:100%;
}

body{ 

    width:100%;
    /**background-image:url("/imagen/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");  **/  

    background-image: url("/imagen/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    
}

.container__navResponsive-principal{
    display: none;
}

.container__menuResponsive{ 
    display: none;
    position: fixed;
    background: #343a40;
    width: 100%;
   
} 

.container__menuResponsive__options{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
}
.container__menuResponsive__options a{
    padding: 15px; 
    color: #fff; 
    font-size: 1.5em;
    text-decoration: none;
}

header,
.container__nav__principal-items,
.container__nav-principal{ 
    position:sticky; 
    top: 0;
    width: 100%;
    height: 13vh;
    background: #343a40; 
    box-shadow: 1px 1px 1px dark; 
    z-index: 100;
} 

.container__nav__principal-items{
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
    
}
.container__nav__principal-items li {
    margin: 5px 10px; 
    padding: 5px 10px; 
    list-style: none;
} 
.container__nav__principal-items li a {
    text-decoration: none; 
    color:#fff; 
    font-weight: 300; 
    font-size: 1.2em;
}
.container__background-principal{ 
    position: relative;
    width: 100%; 
    height: 100vh;  
   /**background: #3e464e; **/
 
} 


.container__background__principal-title{
    width: 100%; 
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
   

} 

.container__background__principal-title h1 ,
.container__background__principal-title h3 
{
    padding: 10px;
    
} 

.container__background__principal-title h3{
    font-size: 2.4em;  
    font-weight: 300;
    color: #fff; 
}

.typed-container{
    padding: 20px;
}

.typed-container span{  
    
    font-weight: bold; 
    font-style: oblique ;
    position: relative;
    font-size: 3.2em; 
    color: #ffc107;
} 
#cursor {
    display: inline-block;
   /** background-color: #ffc107;**/
    width: 2px;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}
.container__background__principal-title h1{  
    text-align:center;
    width: 50%;
    font-size: 1.2em; 
    color: #fff;
}

.container__background__principal__title-button{ 
    margin: 10px;
    text-align: center;
    width: 25%; 
    padding: 11px; 
    border-radius: 30px; 
    border: 2px solid #ffc107;
} 
.container__background__principal__title-button a{  
    text-decoration: none;   
    padding: 20px;
    color: #ffc107;
} 
.container__background__principal__title-button a:hover{ 
    transition: all 1s;
    color: #343a40;

}
.container__background__principal__title-button:hover {
    transition: all 0.9s; 
    background: #ffc107;  

} 

.container__nav__principal-items li a:hover{
    transition: all 1.2s;
    color: #dfdf32; 
} 


/** About me **/ 
.container__aboutme-principal{ 
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 100%; 
    height: 90vh;  
    background: #343a40;
} 
.container__aboutme__principal-elements{ 
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    width: 90%;  
    height: 80vh;

} 

.container__aboutme__principal__elements-image  {
    width:60%;  
    height: 60%;
   
}
@keyframes neon {
    0% {
        filter: drop-shadow(0 0 5px #ffc107) drop-shadow(0 0 10px #ffc107);
    }
    50% {
        filter: drop-shadow(0 0 10px #695af3) drop-shadow(0 0 25px #695af3);
    }
    100% {
        filter: drop-shadow(0 0 5px #ffc107) drop-shadow(0 0 10px #ffc107);
    }
}

.container__aboutme__principal__elements-image img {
    width: 100%; 
    height: 100%; 
    filter: drop-shadow(0 0 5px #ffc107) drop-shadow(0 0 10px #ffc107);
    animation: neon 3s ease-in-out infinite;
}
.container__aboutme__principal__elements-contents{
    width: 50%; 
    height: 80%;
} 
.container__aboutme__principal__elements-contents h4 {
    padding: 15px 0;
    font-size: 1.6em; 
    color: #ffc107;
}

.container__aboutme__principal__elements-contents p { 
    font-weight:300; 
   
    font-size: 1.5em;  
    color: #fff;
} 


.container__aboutme__principal__elements__contents-button{
    text-align: center;
    width: 30%;  
    padding: 5px;
    margin: 15px 0; 
    border-radius: 100px; 
    background: #ffc107;
}
.container__aboutme__principal__elements__contents-button a{
    text-decoration: none; 
    font-size: 1.4em; 
    color: #fff;
}


.container__aboutme__principal__elements__contents-button:hover{
    transition: all 0.3s; 
    background: transparent;
    border: 1px solid #ffc107; 
    
}
 

/**  Services **/
.container__services-principal{ 
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    height: 100vh; 
    background: #343a40;
}
.container__services__principal-title,
.container__services__principal-title h4 { 
    text-align: center;
    font-size: 1.7em; 
    color: #ffc107;
}

.container__services__principal-carrucel{ 
    display: flex; 
    justify-content:space-around; 
    flex-wrap: wrap;
    max-width: 90%;  
        
}

.container__services__principal__carrucel-items{
    width: 30%; 
    height: 45%;  
    padding: 17px;
    margin: 15px;
    background: #282727; 
    border-radius: 2px;
}
.container__services__principal__carrucel-items > div{
    font-size: 1.6em; 
    color:#ffc107;
} 
.container__services__principal__carrucel-items h5{
    padding: 8px 0; 
    font-size: 1.2em; 
    color: #ffc107;
} 

.container__services__principal__carrucel-items p{ 
    padding: 8px 0;
    font-size: 0.8em; 
    color: #fff;
}

.container__services__principal-carrucelAction{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
     
}

.container__services__principal__carrucelAction-buttons{
    width: 10%;
    height: 5px; 
    margin: 0 20px; 
    background: #ffc107; 
    border-radius: 50px;
} 


/** Tecnologias **/ 
.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%; 
    height:80vh;
}

.carousel { 

    display: flex;   
    align-items: center;
    gap: 200px;
    height: 80vh;
    overflow-x: hidden;
    scroll-behavior: smooth;  
   
}

.carousel img {
    
    
    min-width: 300px; /* Ajusta esto al tamaño que prefieras */
    height: auto;
 
    
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-button.left {
    left: 0;
}

.carousel-button.right {
    right: 0;
}

/** Proyecto **/
.container__proyects-principal{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    height: 100vh;  
    background: #343a40;
    
} 
.container__proyects__principal-title h4{
    font-size: 3em;

    padding: 30px;
    color: #ffc107; 
    text-align: center;
    
}  

.filter-buttons {
    display: flex;
    
    gap: 10px;
    margin-bottom: 20px;
}

.filter-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color:#ffc107;
    border-radius: 5px; 
    color: #fff;
}

.filter-button.active {
    background-color: #007bff;
    color: white;
}


.container__proyects__principal-carrucel{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap:wrap ;
    width: 90%;
    height: 80%; 
    max-height: 80%;
}
.container__proyects__principal__carrucel-items{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    width: 30%; 
    height: 45%; 
    background: #ffc107; 
    margin: 10px;
}
.container__proyects__principal__carrucel-items img{ 
    position: absolute; 
    width: 100%;
    height: 100%;   
    opacity: 0.7;
    z-index: -1;

}
.container__proyects__principal__carrucel-items >h5{
    font-size: 1.3em;
    color: #fff;
    padding: 8px;
}

.container__proyects__principal__carrucel-items >p{
    font-size: 1em;
    color: #fff;
    padding: 8px;
}

.container__proyects__principal__carrucel-items a{
    font-size: 2em;
    padding: 5px;
    color: #fff;
    text-decoration: none;
} 
.container__proyects__principal__carrucel-items a:hover{
    transition: all 1s; 
    color:#1d1e2b;
}
.container__footer-principal{ 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #343a40;
}
.container__footer__principal-title{
    text-align: center;
    color:#ffc107 ;
    font-size: 3em; 
    padding: 15px;
}
.container__footer__principal-main{ 
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 90%; 
    height: 90%; 

}
.container__footer__principal-formulario{
    width: 50%; 
    height: 80%;
   
}  
.container__footer__principal__more-icons{ 
    text-align: center;
    padding: 3px;
    
    font-size: 2em;
    color: #ffc107;
}
.container__footer__principal-formulario div{
    display: flex;
}
.container__footer__principal-formulario div>input{ 
    
    width: 45%; 
    margin: 0 20px;
    padding: 15px;
    background: #fff; 
    border: none;
    border-radius: 5px;
}
.container__footer__principal-formulario >textarea, 
.container__footer__principal-formulario >input{ 
    margin: 20px 12px;
    width: 94%; 
    padding: 15px;
    background: #fff; 
    border: none;
    border-radius: 5px;
} 
.container__footer__principal-formulario >button{ 
    cursor: pointer;
    margin: 10px 12px;
    height: 35px;
    width: 94%; 
    background: #ffc107; 
    border: none; 
    color: #fff;
    border-radius: 50px;
}
.container__footer__principal-info{ 
    width: 40%; 
    height: 80%;

}
.container__footer__principal__info-icons i{
    font-size: 1.3em;
    color:#ffc107 ;
}
.container__footer__principal__info-icons{
    font-size: 1.5em;
    font-weight: lighter;
    color: #fff;
    padding: 10px;
    margin: 10px;   
}

.container__footer__principal-more{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: #fff;
    width: 100%;  
    height: 10%;
    background: #282727; 
} 
/** Menu Responsive--------------------------- **/ 

@media (300px <= width <=1024px) { 

    .container__nav-principal,
    header{
        height: 8vh;
    }

    .container__nav__principal-items{
        display: none;
    }
    
    
    .container__navResponsive-principal {
      display: flex;
      justify-content: flex-end;
      align-items: center; 
      width: 100%;
      height: 100%;
    } 
    .container__navResponsive-principal li{ 
        padding: 15px;
        font-size: 1.5em;
        color: #fff;
        list-style:none ;
    }
    
    .container__background-principal {
         height: 70vh;
    }
    .typed-container{  
        display:flex; 
        justify-content: center;
        align-items: center;
        width: 100%;
        
       height: 80px;
    }
    .typed-container span{ 
        
        font-size: 1.9em;
        color: #ffc107;
        text-align:center; 
    } 

    .container__background__principal-title h1 {
        text-align: center;
        width: 83%;
        font-size: 1.2em; 
        font-weight: 200;
        color: #fff;
    } 

    .container__background__principal__title-button {
        margin: 30px;
        width: 64%;
        
    } 

    /** about me**/ 
    .container__aboutme-principal{ 
        width: 100%;
        height: 105vh;
        justify-content: flex-start;
        align-items: flex-start;
        
    }
   .container__aboutme__principal__elements-image{
        margin-top: 30px;
        width: 100%;
        height:50%;        
   }
   .container__aboutme__principal__elements-image img{

    object-fit:cover;
   }
   
    .container__aboutme__principal__elements-contents{
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 95%; 
      
    }


    .container__aboutme__principal-elements {
        width: 100%;
        height: 100%;
     justify-content: flex-start;
     align-items: center;
    flex-direction: column; 
    }
    .container__aboutme__principal__elements-contents p {
        font-weight: 300;
        font-size: 1.3em;
        color: #fff;
        padding: 10px 0;
    }
    .container__aboutme__principal__elements__contents-button {
     
        width: 60%;
        padding: 8px;
        font-size:0.8em;
        
    }    
    /** Services **/ 

    .container__services-principal{
        height:130vh;
        
    } 
    
    .container__services__principal-carrucel { 
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        overflow-y: scroll;
        max-height: 90%;
        max-width: 100%;
    }    

    .container__services__principal__carrucel-items{
        width: 92%;
        height: 25%; 
        font-size:0.8em;
    }

    .container__services__principal__carrucel-items p {
        font-size: 0.9em;
        font-weight: 300;
    }
    .container__services__principal-carrucelAction {
        display: none;
        
    }
    /** Tecnologias **/
   
    .carousel{ 
        flex-direction: row;
        flex-wrap: nowrap; 
        justify-content: flex-start;  
        align-items: center;
        flex: 1;
        overflow-x: scroll;
    }
    .carousel img{
        width: 100%; 
    }

    /** Proyects **/
    .filter-buttons{
        width: 85%;
        align-items: center; 
        justify-content: center;
        flex-wrap: wrap;
    }
    .container__proyects__principal-carrucel {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 80%;
        max-height: 80% ;
        max-width: 100%;
        overflow-x: scroll;  
        
    }     

    .container__proyects__principal__carrucel-items{
        width: 90%;
        height: 45%;
    }
    /** Footer **/ 
    .container__footer-principal { 
        
        height: 120vh;
    } 
    .container__footer__principal-main {
        flex-direction: column;
    }    

    .container__footer__principal-formulario {
        width: 100%;
    } 
    .container__footer__principal-formulario div {
        display: flex; 
        
        flex-direction: column;
    }        

    .container__footer__principal-formulario div>input {
        width: 95%;
        margin: 8px;
        padding: 15px;
     
    }
    .container__footer__principal-info {
        width: 100%;
        height: 80%;   
    }   
    .container__footer__principal__info-icons{
        font-size: 1em;
    }  
    .container__footer__principal__info-icons i{
        font-size: 1.5em;
    }
    .container__footer__principal-more {
        justify-content: flex-start;
        align-items: center;
        height: 21vh;  
    } 
      
}
