button:focus, input:focus, textarea:focus {
	outline: 0;
}

.card_wrapper {
	padding: 80px 0; 
}

.card_wrapper .head_text {
	text-transform: capitalize;
}

.card_wrapper .card_box {
	overflow: hidden; 
	
	border-radius: 20px;
	margin-top: 55px; 

	/* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
}
.card_wrapper .card_box .card_img_box {
	position: relative;
}

.card_wrapper .card_box .card_img_box img {
	border-radius: 20px;
} 
.prueba{
	border: 3px solid red;
}

.card_wrapper .card_box .card_img_box .card_icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 96px;
    height: 96px;
    border-top-left-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* Version para la light  */
.card_wrapper .card_box .card_img_box .card_icon::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    background: transparent;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #22212a;
}

.card_wrapper .card_box .card_img_box .card_icon::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    background: transparent;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #22212a;
}

/* Esta es para primary  */
.card_wrapper .card_box .card_img_box .card_icon-primary {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 96px;
    height: 96px;
    border-top-left-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card_wrapper .card_box .card_img_box .card_icon-primary::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    background: transparent;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #181720;
}

.card_wrapper .card_box .card_img_box .card_icon-primary::after {
    content: "";
    position: absolute;
    top: -20px;
    right: 0px;
    background: transparent;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0.313rem 0.313rem 0 0.313rem #181720;
} 
.card_wrapper .card_box .card_img_box .card_icon-primary:hover a {
	transform: scale(1.1);
}

.card_wrapper .card_box .card_img_box .card_icon-primary a {
	background: #583ebc;
	width: 76px;
	height: 76px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 50%;
	color: #ffffff;
	font-size: 21px;
	transition: .5s;
}
/* ----------------------------------- */ 

.card_wrapper .card_box .card_img_box .card_icon:hover a {
	transform: scale(1.1);
}

.card_wrapper .card_box .card_img_box .card_icon a {
	background: #583ebc;
	width: 76px;
	height: 76px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	border-radius: 50%;
	color: #ffffff;
	font-size: 21px;
	transition: .5s;
}

.card_wrapper .card_box .card_img_box .card_icon:hover a {
	text-decoration: none;
}

.card_wrapper .card_box .card_img_box .card_icon a i {
    transform: rotate(45deg);
    font-weight: 400;
}

.card_wrapper .card_box .card_text_content {
	padding: 25px;
}

.card_wrapper .card_box .card_text_content h3 {
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 10px;
}

.card_wrapper .card_box .card_text_content h3 a {
	color: #fff;
	text-transform: capitalize;
}

.card_wrapper .card_box .card_text_content h3 a:hover {
	text-decoration: none;
}

.card_wrapper .card_box .card_text_content span {
	background: #d3b19a;
	height: 28px;
	padding: 0 10px;
	border-radius: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	text-transform: uppercase;
	font-weight: 500;
	margin-right: 5px;
}

.card_wrapper .card_box02 .card_icon a {
	background: #583ebc !important;
}

.card_wrapper .card_box03 .card_icon a {
	background: #583ebc !important;
}
