<div class="fixed top-0 w-full flex justify-center">
    <nav class="w-[90%] flex items-center bg-primary-light rounded-full px-2 py-2 mt-6 shadow-lg">
        <ul class="w-full flex items-center justify-between text-white">
            <li class="flex-1 text-center bg-purple-900 rounded-full p-3">
                <a href="#" class="px-5 py-5 text-white">Home</a>
            </li>
            <li class="flex-1 text-center hover:bg-purple-900 rounded-full p-3 ">
                <a href="#">About</a>
            </li>
            <li class="flex-1 text-center hover:bg-purple-900 rounded-full p-3">
                <a href="#">Service</a>
            </li>
            <!-- Icono en el centro -->
            <li class="flex-1 flex justify-center">
                <div class="w-14 h-14 bg-purple-600 text-white flex items-center justify-center rounded-full p-3 font-bold">
                    BA
                </div>
            </li>
            <li class="flex-1 text-center hover:bg-purple-900 rounded-full p-3">
                <a href="#">Portfolio</a>
            </li>
            <li class="flex-1 text-center hover:bg-purple-900 rounded-full p-3">
                <a href="#">Blog</a>
            </li>
            <li class="flex-1 text-center hover:bg-purple-900 rounded-full p-3">
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
</div>
