@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0; 
    padding:0; 
    box-sizing: border-box;  
    font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
} 

html{
    scroll-behavior:smooth;
}
body{
    max-width:100%;
}

body{ 

    width:100%;
    /**background-image:url("/imagen/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");  **/  

    background-image: url("assets/image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
    
}