---
import LayoutSection from "../../layouts/LayoutSection.astro";
import Projects from "../../components/Proyect/Projects.astro";
import { projects } from '../../data/projectsData';
---
<LayoutSection
        titleSection="Portfolio"
        imagePath="/img/bannerdev.png"
>
    <section class="portfolio spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="portfolio__filter">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".Website">Website</li>
                        <li data-filter=".Android">Android</li>
                        <li data-filter=".Figma">Figma</li>
                        <li data-filter=".Legacy">Legacy</li>
                    </ul>
                </div>
            </div>
            <div class="row portfolio__gallery">
                {projects.map((project) => (
                        <Projects {...project} />
                ))}
            </div>
        </div>
    </section>

</LayoutSection>

